@media(max-width: 450px) {
    form {
        width: 25em !important;
        margin: 1.5em;
        margin-top: 0;
    }

    #display {
        color: white;
        width: 70%;
        border-radius: 8px;
        padding: .25em;
        margin: 0 auto 0 auto;
        min-height: 2.1em;
        font-size: 1.5em;
    }

    #count {
        margin-right: 4em;
    }

    form>div>a>i {
        margin-left: -2.5em;
    }

    form section {
        width: 85%;
    }
}

@media(max-width: 350px) {
    form {
        width: 20em !important;
        margin: .75em;
        margin-top: 0;
    }

    section input {
        margin: .5em;
        height: 3em;
        width: 3.8em;
    }

    #header {
        justify-content: space-between;
    }

    #header span {
        width: 0;
        height: 0;
    }

    #header h3 {
        font-size: 2em;
    }

    #header button {
        margin-right: .5em !important;
        /* margin-left: 1em; */
    }
}
