@media(max-width: 450px) {
    form {
        width: 90%;
        margin: 1.5em;
    }

    #display {
        color: white;
        width: 70%;
        background-color: #123b49;
        border: 1px solid #55b7dd;
        border-radius: 8px;
        padding: .25em;
        margin: 0 auto 0 auto;
        min-height: 2.1em;
        font-size: 1.5em;
    }

    form>div>a>i {
        margin-left: -2.5em;
    }

    form section {
        width: 85%;
    }
}
